wordpress/uploads
wordpress/plugins/evolve-api/custom-post-types.php
wordpress/plugins/evolve-api/plugin.php
wordpress/plugins/akismet
wordpress/plugins/hello.php
wordpress/themes/evolve
wordpress/themes/twenty*